<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>janken01</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>

  <h2>ジャンケンゲーム</h2>

  <div th:if="${users}">
    <h3>エントリー</h3>
    <ul>
      <li th:each="user : ${users}">
        <a th:href="@{/match/{id}(id=${user.id})}">[[${user.name}]]</a>
      </li>
    </ul>
  </div>
  <h2>ジャンケン試合結果</h2>
  <table>
    <tr>
      <th>ID</th>
      <th>プレイヤー1 </th>
      <th>プレイヤー2 </th>
      <th>プレイヤー1の手 </th>
      <th>プレイヤー2の手 </th>
    </tr>
    <tr th:each="match : ${matches}">
      <td th:text="${match.id}"></td>
      <td th:text="${match.user1}"></td>
      <td th:text="${match.user2}"></td>
      <td th:text="${match.user1Hand}"></td>
      <td th:text="${match.user2Hand}"></td>
    </tr>
  </table>

  <div>
    <a href="/janken/entry">部屋に入る</a>
  </div>

  <div th:if="${room}">
    <h3>入室したユーザー</h3>
    <ul>
      <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
    <p>現在の人数:[[${usersCount}]]</p>
  </div>

  <h2>練習</h2>
  <h3>手を選んでください：</h3>
  <form th:action="@{/janken/jankengame}" method="post">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

    <input type="radio" name="userhand" value="グー" id="rock"><label for="rock">グー</label>
    <input type="radio" name="userhand" value="チョキ" id="scissors"><label for="scissors">チョキ</label>
    <input type="radio" name="userhand" value="パー" id="paper"><label for="paper">パー</label>

    <button type="submit">じゃんけんぽん！</button>
  </form>

  <div th:if="${userhand}">
    <p>あなたの手: [[${userhand}]]</p>
    <p>コンピュータの手: [[${cpuHand}]]</p>
    <p>結果: [[${result}]]</p>
  </div>


</body>

</html>
