<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>janken01</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>

  <h2>ジャンケンゲーム</h2>
  <!-- 入室ボタン -->
  <div>
    <a href="/janken/entry">部屋に入る</a>
  </div>

  <!-- 入室したユーザー一覧を表示 -->
  <div th:if="${room}">
    <h3>入室したユーザー</h3>
    <ul>
      <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
    <p>現在の人数:[[${usersCount}]]</p>
  </div>
  <div th:if="${loginUser}">Hi [[${loginUser}]]</div>
  <!-- ユーザーがジャンケンを選択するためのフォーム -->

  <h3>手を選んでください：</h3>
  <ul>
    <li><a href="/janken/jankengame?userhand=グー">グー</a></li>
    <li><a href="/janken/jankengame?userhand=チョキ">チョキ</a></li>
    <li><a href="/janken/jankengame?userhand=パー">パー</a></li>
  </ul>

  <!-- ジャンケンの結果を表示 -->
  <div th:if="${userhand}">
    <p>あなたの手: [[${userhand}]]</p>
    <p>コンピュータの手: [[${cpuHand}]]</p>
    <p>結果: [[${result}]]</p>
  </div>


</body>

</html>
